body{
    background-color: #E5F8BF;
}

.nav-color{
    background-color: #E5F8BF;
}

html .logo-txt{
    font-family: 'Monoton',cursive;
    color: #5A8241;
    font-size: 1.5rem;
    padding-left: 3%;
}

nav ul a{
    font-family: 'MuseoModerno', cursive;
    color: #5A8241;
}

.mobile-menu-icon{
    color:#5A8241;
    
}

.mobile-sidenav li a{
    font-family: 'MuseoModerno', cursive;
    color: #5A8241; 
    
}