{% extends 'base.html' %}
{% block content %}
<!--Landing page background with cta-->
<div class="row">
    <div class="col s12 about-bg">
        <p class="about-txt col s8 offset-s2 center-align">Nature line is a place where you can find your local food producers. It was created with the idea of eating healthy and supporting local economy.
            Nature line is open source so you can view and copy code and create your own local version of online farmers market!</p>
    </div>
</div>
<!--Footer-->
<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container row">
      <div class="col s8 m4 left">© 2020 Ljupko Jurcevic</div>
      <a class="grey-text text-lighten-4 right col s2 m1" href="https://github.com/Wertzhog/MS3_Nature_Line"><i class="fab fa-github"></i></a>
      <a class="grey-text text-lighten-4 right col s2 m1" href="https://www.linkedin.com/in/ljupko-jur%C4%8Devi%C4%87-4545bb95/"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
</footer>
{% endblock %}