{% extends 'base.html' %}
{% block content %}
<!--Landing page background with cta-->
<div class="row">
    <div class="col s12 landing-page-bg">
        <p class="landing-txt col s8 offset-s2 center-align">Find local food producers and connect with them on Nature Line!</p>
        <a href="{{ url_for('register') }}" class="col s4 offset-s4 hide-on-med-and-up btn-small purple darken-1"><i class="material-icons right">check</i>Sign Up!</a>
    </div>
</div>
<!--Footer-->
<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2020 Ljupko Jurcevic
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>
{% endblock %}