{% extends 'base.html' %}
{% block content %}
    <div class="container profile-container">
        <div class="row">
            <div class="col s4">
                <div class="card lime darken-1">
                    <div class="card-image">
                    {% if curr_user.type == "producer" %}
                        <img src="/static/img/farmer.svg">
                    {% else %}
                        <img src="/static/img/boy.svg">
                    {% endif %}
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <h4 class="card-title purple-text text-darken-1 center-align">User: {{ username }}</h4>
                            <h5 class="col s12 center-align">Info</h5>
                            <p class="col s12 center-align">Location: <strong>{{ curr_user.location }}</strong></p>
                            <p class="col s12 center-align">Contact: <strong>{{ curr_user.contact.email }}</strong></p>
                            <p class="col s12 center-align">Phone: <strong>{{ curr_user.contact.phone }}</strong></p>
                        </div>
                    </div>
                    <div class="card-action">
                      <a href="{{ url_for('add_product') }}" class="left-align btn-small purple darken-1">Add an product</a>
                      <a href="" class="right-align btn-small purple darken-1">Update info</a>
                    </div>
                </div>
            </div>
            <div class="col s8">
                <h4 class="center-align">Products:</h4>
                    <div class="row">
                        {% for item in products_sold %}

                        <div class="col s4">
                            <div class="card lime darken-1">
                                <div class="card-image">
                                    <img src="/static/img/harvest.svg">
                                    <span class="card-title">{{ item.name }}</span>
                                </div>
                                <div class="card-content row">
                                    <span class=" col s12">Price: {{ item.price }}<i class="tiny material-icons">euro</i></span>
                                    <span class=" col s12">Quantity: {{ item.quantity }}kg</span>
                                </div>
                                <div class="card-action">
                                    <a href="{{ url_for('edit_product', product_id=item._id )}}" class=" btn-small purple darken-1">Edit product</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}