{% extends 'base.html' %}
{% block content %}
    <div class="container profile-container">
        <div class="row">
        <!--Profile info-->
            <div class="col s10 offset-s1 m4">
                <div class="card lime darken-1">
                    <div class="card-image">
                        <img class="responsive-img" src="/static/img/farmer.svg" alt="user-img">
                        <span class="card-title white-text text-darken-1 center-align">User: {{ username }}</span>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <p class="center-align landing-txt">Info</p>
                            <p class="col s12 center-align"><i class="material-icons prefix lime-text text-lighten-5">location_on</i>  {{ curr_user.location }}</p>
                            <p class="col s12 center-align"><i class="material-icons prefix lime-text text-lighten-5">email</i>  {{ curr_user.contact.email }}</p>
                            <p class="col s12 center-align"><i class="material-icons prefix lime-text text-lighten-5">smartphone</i>  {{ curr_user.contact.phone }}</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            {% if session.user|lower == username %}
                            <div class="row">
                                <a href="{{ url_for('add_product') }}" class="col s8 btn-small purple darken-1 offset-s2">Add product</a>
                            </div>
                            <div class="row">
                                <a href="{{ url_for('update_info', username=username) }}" class="col s8 btn-small purple darken-1 offset-s2">Update info</a>
                            </div>
                            {% endif %}
                       </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m8">
            <!--Products section-->
                <h4 class="center-align landing-txt">Products:</h4>
                    <div class="row">
                        {% for item in products_sold %}
                            {% if item.sold_by == session.user %}
                                <div class="col s6 m4">
                                    <div class="card lime darken-1">
                                        <div class="card-image">
                                            <img src="/static/img/harvest.svg" alt="product-img">
                                            <span class="card-title">{{ item.name }}</span>
                                        </div>
                                        <div class="card-content row">
                                            <span class=" col s12 purple-text text-darken-1">Price: {{ item.price }}<i class="tiny material-icons">euro</i></span>
                                            <span class=" col s12 purple-text text-darken-1">Quantity: {{ item.quantity }}kg</span>
                                        </div>
                                        <div class="card-action">
                                            <div class="row">
                                                <a href="{{ url_for('edit_product', product_id=item._id )}}" class=" btn-small purple darken-1 col s12">Edit product</a>
                                            </div>
                                            <div class="row">
                                                <a href="{{ url_for('delete_product', product_id=item._id )}}" class=" btn-small red darken-1 col s12">Delete product</a>
                                           </div>
                                        </div> 
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
           
                    </div>
            </div>
        </div>
    </div>
{% endblock %}