{% extends 'base.html' %}
{% block content %}
    <div class="wrapper">
        <h3 class="center-align logo-txt">Update Info</h3>
        <div class="row">
            <form class="col s8 m4 offset-s2 offset-m4" method="POST" action="{{ url_for('update_info', username = curr_user.username) }}">
              <div class="card-panel lime darken-1">
                 <!--Account type-->
                <div class="row">
                  <div class="input-field col s12">
                      <i class="material-icons prefix lime-text text-lighten-5">supervisor_account</i>
                      <select class="lime-text text-lighten-5" name="type" required>
                        <option value="" disabled selected >Choose your option</option>
                        <option value="buyer">Buyer</option>
                        <option value="producer">Producer</option>
                      </select>
                      <label class="lime-text text-lighten-5" for="type">Choose account type:</label>
                  </div>
              </div>
                <!--Location-->
                <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix lime-text text-lighten-5">title</i>
                      <input id="location" name="location" type="text" class="validate" 
                       minlength="3" maxlength="20" required>
                      <label class="lime-text text-lighten-5" for="location">Location (please enter city name)</label>
                    </div>
                </div>
                <!--Contact email-->
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix lime-text text-lighten-5">euro</i>
                    <input id="email" name="email" type="email" class="validate" 
                         minlength="1" maxlength="20" required>
                    <label class="lime-text text-lighten-5" for="email">Email</label>
                  </div>
                </div>
                <!--contact phone-->
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix lime-text text-lighten-5">scatter_plot</i>
                    <input id="phone" name="phone" type="number" class="validate" 
                         minlength="1" maxlength="15" required>
                    <label class="lime-text text-lighten-5" for="phone">Phone</label>
                  </div>
                </div>
                <!--Submit button-->
                <div class="row">
                   <button type="submit" class="col s12 btn-small purple darken-1">Update info</button>
                </div>
                <div class="row">
                  <a href="{{ url_for('home') }}" class="col s12 btn-small red darken-1">Cancel</a>
               </div>
              </div>
            </form>
          </div>
    </div>
    
{% endblock %}